albumShowroom {
	display: block; 
	background: lightgreen;
	padding-top: 25px; 
	text-align: center; 
	counter-reset: counter; 
}

types::before { 
    display: block;
    content:"Available types of music:";
    font-size: 40pt;
    text-align: center;
    padding: 20px;
    background-color: rgb(255,0,100);
}

types type {
    display: block;
    margin: 30px;
    margin-left: 0px;
    width: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    background-color: yellow;
    position: relative;
    left: 40%;
}

type:hover { 
    width: 30%;
    left: 35%;
}

type *{
    display: block;
}

type name{
	font-size: 20pt;  
}

type countryOfOrigin{
    font-weight:bold;
}

type time::before {
    display: inline;
	font-weight: bold;
    content: 'Date of creation: '; 
}


albums album {
    display: inline-block;
	font-size: 10pt;
    padding: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: blueviolet;
    text-align: left;
    background-color: rgb(225, 244, 250);
    position: relative;
    margin: 15px;

}

albums album {
    display: inline-block;
	font-size: 10pt;
    padding: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: blueviolet;
    text-align: left;
    background-color: rgb(225, 244, 250);
    position: relative;
    margin: 15px;

}

album::before{
    display:block;
    font-size: 18px; 
    text-align: center;
	content: counter(counter) '. '; 
	counter-increment: counter;
}

album:hover { 
    background-color: red;
}

album *{
    display:block;  
}


album *::before {
    display:inline;
    font-size: 14px; 
    font-weight:bold;
}

album author::before{
    content: 'Author: '; 
}


album title::before{
    content: 'title: '; 
}

album topSong::before{
    content: 'Top Song: '; 
}

album releaseDate::before{
    content: 'Release Date: '; 
}

album numberOfSingles::before{
    content: 'Number Of Singles: '; 
}

album price::before{
    content: 'Price: ';
}

album price::after{
    content: " " attr(currency)
}

album topSong {
    display: block;
	font-size: 10pt;
    padding: 10px;
    text-align: center;
    background-color: rgb(194, 221, 40);
    position: relative;
    margin: 5px;
}

album title::Before{
    content: 'Title:'
}

album lenght::Before{
    content: 'Time:'
}

album lenght::after{
    content: ' s '
}

album producer::Before{
    content: ' Producer: '
}

album trackNumber::Before{
    content: ' Track number: '
}


metadata{
    display: block;
    font-size: 10pt;
    text-align: center;
    padding: 20px;
    background-color:rgb(199, 235, 247);
}

metadata > author{
    display: list-item;
    list-style-type: circle;
	margin-left:10px;
}

metadata > modificationDate{
    font-weight:bold;
}